body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
    margin: 5;
    background-color: #f5f5f5;
}

.logo{
    margin-top: 50px;
    width: 150px;
}

.content {
    margin-top: 20px;
}

h1 , h4 {
    text-align: left;  
    width: 400px;
    margin-top: 10px;       
}

h1{
    font-size: 50px;
    color: #646464;
    font-family:  Minion-Pro;
    line-height: 1.2;
    margin-bottom: 0;
}

h4{
    color: #646464;
    font-family: Helvetica,Arial,sans-serif;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 10px;
}

.name1, .birth, .email1{
    font-family: Helvetica,Arial,sans-serif;
}
.name, .email{
    width: 375px;
    height: 40px;
    background-color:#f5f5f5;
    border-radius: 10px;
    border-color: #e0dddd;
    border-width: 1px;
    padding-left: 15px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: medium;
}

.birth{
    gap: 240px;
}

.day, .month, .year{
    width: 100px;
    height: 40px;
    background-color:#f5f5f5;
    border-radius: 10px;
    border-color: #e0dddd;
    border-width: 1px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    font-size: medium;
}

.error{
    color: red;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.mess{
    font-size:12px;
    font-family: Helvetica,Arial,sans-serif;
}

.button{
    margin-top: 20px;
    margin-bottom: 10px;
    appearance: none;
    border: 0cap;
    border-radius: 50px/ 100%;
    background-color: #fe6700;
    font-size: 15px;
    font-family: Helvetica,Arial,sans-serif;
    color: white;
    height: 50px;
    width: 400px;
    cursor: pointer;
}

.line{
    border-top: 1px solid #b5b5b5;
    width: 100%; 
    margin: 20px auto;
}

.foot{
    margin-top: 10px;
    color: #a9a9a9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    margin-bottom: 20px;
}

.hovers{
    color: blue;
}

.hovers:hover{
    text-decoration: underline;
}
